#pins.transitions-enabled
 - @pins.each do |pin|
  .box.panel.panel-default
   = link_to (image_tag pin.image.url), pin
   .panel-body
    %h2= link_to pin.title, pin
    = link_to (image_tag(pin.user.avatar.url(:thumb), class: "img-circle logo", style: "margin-top:0px;")), user_path(pin.user)
    %p.user
    by
    =link_to ( pin.user.user_name ), user_path(pin.user)


